<!-- content start -->
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf">
      <strong class="am-text-primary am-text-md">商品</strong> / 商品分类
    </div>
  </div>

  <div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab1">分类列表</a></li>
      <li><a href="#tab2">添加分类</a></li>
    </ul>

    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab1">

        <div class="am-u-sm-12 am-u-md-3">
      <div class="am-form-group">
        <select data-am-selected="{btnSize: 'sm'}">
          <option value="option1">所有类别</option>
          <option value="option2">IT业界</option>
          <option value="option3">数码产品</option>
          <option value="option3">笔记本电脑</option>
          <option value="option3">平板电脑</option>
          <option value="option3">只能手机</option>
          <option value="option3">超极本</option>
        </select>
      </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
      <div class="am-input-group am-input-group-sm">
        <input type="text" class="am-form-field">
        <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
      </div>
    </div>


        <div class="am-g">
          <div class="am-u-sm-12">
            <form class="am-form">
              <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                  <tr>
                    <th class="table-check">
                      <input type="checkbox" />
                    </th>
                    <th class="table-id">ID</th>
                    <th class="table-title">名称</th>
                    <th class="table-type">上级分类</th>
                    <th class="table-author">已启用</th>
                    <th class="table-date">排序</th>
                    <th class="table-set">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="checkbox" />
                    </td>
                    <td>1</td>
                    <td><a href="#">Business management</a></td>
                    <td>default</td>
                    <td class="am-hide-sm-only">测试1号</td>
                    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
                    <td>
                      <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                          <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                          <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                          <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" />
                    </td>
                    <td>2</td>
                    <td><a href="#">Business management</a></td>
                    <td>default</td>
                    <td class="am-hide-sm-only">测试1号</td>
                    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
                    <td>
                      <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                          <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                          <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                          <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" />
                    </td>
                    <td>3</td>
                    <td><a href="#">Business management</a></td>
                    <td>default</td>
                    <td class="am-hide-sm-only">测试1号</td>
                    <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
                    <td>
                      <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                          <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                          <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                          <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="am-cf">
                共 12 条记录
                <div class="am-fr">
                  <ul class="am-pagination">
                    <li class="am-disabled"><a href="#">«</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="am-tab-panel am-fade" id="tab2">
        <div class="am-g">
          <div class="am-u-sm-12 am-u-md-6">
          添加分类（暂不支持子分类）

          <form method="post" action="{{.adminUrl}}/item/cate/add">
            <table>
              <tr>
            <td class="title">
              <label>上级栏目</label>
            </td>
            <td>
              <select name="pid">
                    <option value="0">--请选择分类--</option>

                {{range $index, $elem := .cates}}
                    <option value="{{$elem.Id}}">{{$elem.Name}}</option>
                {{end}}

                </select>
            </td>
            <td></td>
          </tr>
              <tr>
                <td class="title">
                  <label>分类名称</label>
                </td>
                <td>
                  <input type="text" class="" name="name" />
                </td>
                <td><label style="color:red">(必填)</label></td>
              </tr>
              <tr>
                <td class="title">
                  <label>是否启用</label>
                </td>
                <td>
                  <label>
                  <input type="radio" name="status" value="1" checked > 是
                </label>
                  <label>
                  <input type="radio" name="status" value="0"> 否
                </label>
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="title">
                  <label>排序</label>
                </td>
                <td>
                  <input type="text" name="order" />
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="title">
                  <label>SEO TITLE</label>
                </td>
                <td>
                  <input type="text" name="seo_title" />
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="title">
                  <label>SEO KEYWORDS</label>
                </td>
                <td>
                  <input type="text" name="seo_keys" />
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="title">
                  <label>SEO DESCRIPTION</label>
                </td>
                <td>
                  <textarea name="seo_desc" rows="5"></textarea>
                </td>
                <td></td>
              </tr>
              <tr>
                <td colspan="3" class="action">
                  <button type="submit" class="btn btn-confirm">确定</button>
                  <button type="button" class="btn btn-cancel" style="margin-left: 30px">取消</button>
                </td>
              </tr>

            </table>
          </form>
        </div>
      </div>
    </div>
    </div>

    
  </div>
</div>











<!-- content end -->