<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-md">设置</strong> / <strong>修改密码</strong></div>
    </div>

    <div class="am-g">

        <div class="am-u-sm-12 am-u-md-6">
            <form class="am-form" method="post" data-am-validator>
                <fieldset>
                    <div class="am-form-group">
                        <label for="old-password">原密码：</label>
                        <input type="password" name="old-password" id="old-password" placeholder="输入原密码" required/>
                    </div>

                    <div class="am-form-group">
                        <label for="new-password">密码：</label>
                        <input type="password" name="new-password" id="new-password" placeholder="输入新密码" minlength="6" required/>
                    </div>

                    <div class="am-form-group">
                        <label for="confirm-password">确认密码：</label>
                        <input type="password" name="confirm-password" id="confirm-password" placeholder="请与上面输入的值一致" data-equal-to="#new-password"
                        required/>
                    </div>

                    <button class="am-btn am-btn-secondary" type="submit">提交</button>

                    {{if .errmsg}}
                    <div class="am-alert am-alert-danger" data-am-alert>
                        <button type="button" class="am-close">&times;</button>
                        <p>{{.errmsg}}</p>
                    </div>
                    {{end}} 
                    {{if .result}}
                    <div class="am-alert am-alert-success" data-am-alert>
                        <button type="button" class="am-close">&times;</button>
                        <p>密码修改成功</p>
                    </div>
                    {{end}}

                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- content end -->