<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-md">设置</strong> / <strong>个人资料</strong></div>
    </div>

    <div class="am-g">

        <div class="am-u-sm-12 am-u-md-5">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <div class="am-g">
                        <div class="am-u-md-4">
                            <img class="am-img-circle am-img-thumbnail" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/200/h/200/q/80"
                            alt="" />
                        </div>
                        <div class="am-u-md-8">
                            <p>请选择本地头像文件</p>
                            <form class="am-form">
                                <div class="am-form-group">
                                    <input type="file" id="user-pic">
                                    <p class="am-form-help">请选择要上传的文件...</p>
                                    <button type="button" class="am-btn am-btn-primary am-btn-xs">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-7">
            <form method="post" class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">账号</label>
                    <div class="am-u-sm-9">
                        <label class="am-form-label" style="color:#0e90d2">{{.admin.Account}}</label>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="nickname" class="am-u-sm-3 am-form-label">昵称 / NickName</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="nickname" name="nickname" placeholder="输入昵称 / NickName" value="{{.admin.NickName}}">
                        <small>用户昵称...</small>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">登录IP</label>
                    <div class="am-u-sm-9">
                        <label class="am-form-label" style="color:#0e90d2">{{.admin.LastIP}}</label>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">登录时间</label>
                    <div class="am-u-sm-9">
                        <label class="am-form-label" style="color:#0e90d2">{{.admin.LastTime}}</label>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="email" class="am-u-sm-3 am-form-label">电子邮件 / Email</label>
                    <div class="am-u-sm-9">
                        <input type="email" id="email" name="email" placeholder="输入你的电子邮件 / Email" value="{{.admin.Email}}">
                        <small>邮箱你懂得...</small>
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                    </div>
                </div>
            </form>

            {{if .errmsg}}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{.errmsg}}</p>
            </div>
            {{end}}
        </div>
    </div>
</div>
<!-- content end -->