<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>numa | 超值商品推荐</title>
	<link rel="stylesheet" type="text/css" href="Public/assets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="Public/css/style.css">
	<script type="text/javascript" src="Public/assets/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="Public/assets/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="Public/js/common.js"></script>

	<script type="text/javascript"></script>

</head>
<body style="background:#FFFFFF;">

	<div class="header">
		<div class="top-wrapper">
			<div class="top">
				<p>
					<a href="">收藏本站</a>
					&nbsp;|&nbsp;
					<a href="">关注我们</a>
					&nbsp;|&nbsp;
					<a href="">我要爆料</a>
				</p>
			</div>
		</div>

		<div class="nav-wrapper">
			<div class="logo"></div>
			<div class="navigation">
				<ul>
					<li>
						<a href="" style="color:#f37e00" class="current">今日推荐</a>
					</li>
					<li>
						<a href="" style="color:#008b94">九块邮</a>
					</li>
					<li>
						<a href="" style="color:#3e99d3">商城购</a>
					</li>
					<li>
						<a href="" style="color:#8f9498">逛</a>
					</li>
					<li>
						<a href="" style="color:#a0d7c7">晒</a>
					</li>
				</ul>

			</div>
			<div class="search-wrapper">
				<div class="col-lg-6 search ">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="输入关键字">
						<span class="input-group-btn">
							<button class="btn btn-default " type="button">搜索</button>
						</span>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="cate-wrapper">
		<div class="cate">
			<p>所有分类</p>
			<ul>

				<li>
					<a href="">服饰鞋包</a>
				</li>
				<li>
					<a href="">数码家电</a>
				</li>
				<li>
					<a href="">美容护肤</a>
				</li>
				<li>
					<a href="">家居生活</a>
				</li>
				<li>
					<a href="">音像图书</a>
				</li>
				<li>
					<a href="">食品保健</a>
				</li>
				<li>
					<a href="">孕婴儿童</a>
				</li>
				<li>
					<a href="">汽车用品</a>
				</li>
				<li>
					<a href="">钟表首饰</a>
				</li>

			</ul>
		</div>
	</div>

	<div class="wrapper">

		<div class="container">

			<div class="content">

				<div class="detail">
					<div class="detail-title">
						<p>
							Fujifilm 富士 X-M1 16-50mm微单套机
							<span>3499元包邮（3699-200）</span>
						</p>
					</div>

					<div class="detail-info">
						<p>
							推荐人：Admin &nbsp; | &nbsp;
							<a href="" class="item-from">京东商城</a>
							&nbsp; | &nbsp;
							<a href="" class="item-cate">数码家电</a>
							&nbsp; | &nbsp;
							浏览8次 &nbsp; | &nbsp;
							<a href="">赞18</a>
							&nbsp; | &nbsp;
							2014-06-17 21:01:46 &nbsp; | &nbsp;
							<a href="">分享</a>
						</p>
					</div>

					<!-- 
					<div class="detail-content">
					<a href="" class="detail-image">
						<img onload="resizePreviewImage(this);" src="Public/images/item-demo.png" />
					</a>
					-->
					<div class="detail-text">
						X-M1三色全 券后新低价~X-M1是富士在13年发布的一款主打轻巧便携、市场定位更接近大流的微单产品。配置方面，传感器使用相同于X-Pro1的1600万像素APS-C尺寸X-Trans CMOS传感器，取消了EVF电子取景器，配置的3英寸92万像素LCD屏支持上下翻转取景，存储方面使用SD卡。值得一提的是，类似于NEX-5R/6，新推出的X-M1也带有wifi功能，方便共享与交互。简而言之，富士X-M1是一台小巧轻便，技术先进的富士X系统微单机型。晒物平台目前有一波晒单，有人肉有代购，过程都很精彩。
						<br/>
						京东目前售价3699元，可用相机满3000减200优惠券（没券的朋友10点可领），实付3499元包邮。历史新低价，有意向的朋友可以考虑入手了。富士文艺范横扫一片，银头复古风也是满满有爱，银棕黑三色可选。
						<br/>
						<img src="Public/images/item-demo.png" />
					</div>
					<!-- </div>
					-->
					<div class="detail-bottom">

						<a href="" class="detail-link">直达商品购买链接>></a>
						<p>商品多为限时限量促销，一段时间后会涨价，请实时关注本站并及时出手</p>
					</div>

				</div>
			</div>

			<div class="same">
				

				<p class="side-topic">同类商品</p>
				<ul>

					<li>
						<div class="same-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo4.jpg" />
							</a>
						</div>
						<div class="same-content">
							<p>
								<a href="">喃喃细语在云端：OPPO Find 7 拍照体验</a>
							</p>
							<p>20114-06-15 16:55 &nbsp; | &nbsp; 浏览223次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="same-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo3.png" />
							</a>
						</div>
						<div class="same-content">
							<p>
								<a href="">酷派 大神系列智能机 尖叫促销 大神F1每天444元秒杀</a>
							</p>
							<p>20114-06-15 16:55 &nbsp; | &nbsp; 浏览86次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="same-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo2.jpg" />
							</a>
						</div>
						<div class="same-content">
							<p>
								<a href="">森马 纯色优雅韩版短裙 29.9元包邮</a>
							</p>
							<p>20114-06-15 17:14 &nbsp; | &nbsp; 浏览53次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="same-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo.png" />
							</a>
						</div>
						<div class="same-content">
							<p>
								<a href="">Fujifilm 富士 X-M1 16-50mm微单套机 3499元包邮（3699-200）</a>
							</p>
							<p>20114-06-15 19:34 &nbsp; | &nbsp; 浏览23次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="same-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo5.jpg" />
							</a>
						</div>
						<div class="same-content">
							<p>
								<a href="">多彩（Delux） K9025U 有线键盘 背光游戏键盘 69元包邮</a>
							</p>
							<p>20114-06-15 12:34 &nbsp; | &nbsp; 浏览23次</p>
						</div>
						<div class="clear"></div>
					</li>

				</ul>
				<div class="clear"></div>

			</div>

			<div class="comment">
				<p class="side-topic">发表评论</p>
				<form name="myform" action="">
					<textarea name="comment" >
						
					</textarea>
					<input type="submit" class="publish" value="提交" />
				</form>

			</div>

		</div>

		<div class="aside">

			<div class="business">
				<p class="side-topic">热门商家</p>
				<ul>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/dangdangwang.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/guomeizaixian.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/jianyiwang.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/jingdong.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/jumeiyoupin.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/qiaowuqiaoyu.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/shunfengyouxuan.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/suningyigou.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/tianmao.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/weipinhui.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/womaiwang.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yamaxun.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yihaodian.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yixun.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yougou.png" alt=""></a>
					</li>
				</ul>

			</div>

			<div class="ad">
				<img src="Public/images/ad.jpg" alt="广告" />
			</div>

		</div>
	</div>

	<footer class="footer">Footer</footer>

</body>
</html>