<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>numa | 超值商品推荐</title>
	<link rel="stylesheet" type="text/css" href="Public/assets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="Public/css/style.css">
	<script type="text/javascript" src="Public/assets/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="Public/assets/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="Public/assets/jquery.smint.js"></script>
	<script type="text/javascript" src="Public/js/common.js"></script>

	<script type="text/javascript">

		$(function(){
			
			// 导航固定到网页顶部
			$('.cate').smint();

		});

	</script>

</head>
<body>

	<header class="header">
		<div class="top-wrapper">
			<div class="top">
				<p>
					<a href="">收藏本站</a>
					&nbsp;|&nbsp;
					<a href="">关注我们</a>
					&nbsp;|&nbsp;
					<a href="">我要爆料</a>
				</p>
			</div>
		</div>

		<div class="nav-wrapper">
			<div class="logo"></div>
			<div class="navigation">
				<ul>
					<li>
						<a href="" style="color:#f37e00" class="current">今日推荐</a>
					</li>
					<li>
						<a href="" style="color:#008b94">九块邮</a>
					</li>
					<li>
						<a href="" style="color:#3e99d3">商城购</a>
					</li>
					<li>
						<a href="" style="color:#8f9498">逛</a>
					</li>
					<li>
						<a href="" style="color:#a0d7c7">晒</a>
					</li>
				</ul>

			</div>
			<div class="search-wrapper">
				<div class="col-lg-6 search ">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="输入关键字">
						<span class="input-group-btn">
							<button class="btn btn-default " type="button">搜索</button>
						</span>
					</div>
				</div>

			</div>
		</div>

	</header>

	<div class="cate-wrapper">
		<div class="cate">
			<p>所有分类</p>
			<ul>

				<li>
					<a href="">服饰鞋包</a>
				</li>
				<li>
					<a href="">数码家电</a>
				</li>
				<li>
					<a href="">美容护肤</a>
				</li>
				<li>
					<a href="">家居生活</a>
				</li>
				<li>
					<a href="">音像图书</a>
				</li>
				<li>
					<a href="">食品保健</a>
				</li>
				<li>
					<a href="">孕婴儿童</a>
				</li>
				<li>
					<a href="">汽车用品</a>
				</li>
				<li>
					<a href="">钟表首饰</a>
				</li>

			</ul>
		</div>
	</div>

	<div class="wrapper">

		<div class="container">

			<div class="notice">
				<p></p>
				<div class="title">
					<span>
						<a href="">公告或置顶内容</a>
					</span>
				</div>
			</div>

			<div class="content">

				<div class="item">
					<div class="item-title">
						<p>
							<a href="">
								Fujifilm 富士 X-M1 16-50mm微单套机
								<span>3499元包邮（3699-200）</span>
							</a>
						</p>
					</div>
					<a href="" class="item-image">
						<img onload="resizePreviewImage(this);" src="Public/images/item-demo.png" />
					</a>
					<div class="item-content">
						<p>
							<a href="" class="item-from">京东商城</a>
							&nbsp; | &nbsp;
							<a href="" class="item-cate">数码家电</a>
						</p>
						<p class="item-description">
							X-M1三色全 券后新低价~X-M1是富士在13年发布的一款主打轻巧便携、市场定位更接近大流的微单产品。配置方面，传感器使用相同于X-Pro1的1600万像素APS-C尺寸X-Trans CMOS传感器，取消了EVF电子取景器，配置的3英寸92万像素...
							<a href="" class="item-readall">阅读全文</a>
						</p>
					</div>

					<div class="clear"></div>

					<div class="item-bottom">
						<p class="item-time">06-15&nbsp;19:34</p>
						<a href="" class="item-link">直达链接</a>
						<p class="item-click">
							<a href="">赞：80</a>
							&nbsp;|&nbsp;
							<span>浏览：23次</span>
						</p>
					</div>
				</div>

				<div class="item">
					<div class="item-title">
						<p>
							<a href="">
								森马 纯色优雅韩版短裙
								<span>29.9元包邮</span>
							</a>
						</p>
					</div>
					<a href="" class="item-image">
						<img onload="resizePreviewImage(this);" src="Public/images/item-demo2.jpg" />
					</a>
					<div class="item-content">
						<p>
							<a href="" class="item-from">亚马逊</a>
							&nbsp; | &nbsp;
							<a href="" class="item-cate">服饰鞋包</a>
						</p>
						<p class="item-description">
							亚马逊587元。面料质地紧密，手感柔软，使用车线固定的压褶，盛开出花一样的裙摆。
							<a href="" class="item-readall">阅读全文</a>
						</p>
					</div>

					<div class="clear"></div>

					<div class="item-bottom">
						<p class="item-time">06-15&nbsp;17:14</p>
						<a href="" class="item-link">直达链接</a>
						<p class="item-click">
							<a href="">赞：82</a>
							&nbsp;|&nbsp;
							<span>浏览：53次</span>
						</p>

					</div>
				</div>

				<div class="item">
					<div class="item-title">
						<p>
							<a href="">
								酷派 大神系列智能机 尖叫促销
								<span>大神F1每天444元秒杀</span>
							</a>
						</p>
					</div>
					<a href="" class="item-image">
						<img onload="resizePreviewImage(this);" src="Public/images/item-demo3.png" />
					</a>
					<div class="item-content">
						<p>
							<a href="" class="item-from">当当网</a>
							&nbsp; | &nbsp;
							<a href="" class="item-cate">数码家电</a>
						</p>
						<p class="item-description">
							也许是记起被警察叔叔逮个正着的教训，酷派这次没有再派遣衣着暴露骨骼清奇的嫩模门到小米楼下大喊“买米的不如买酷的”。6月16日0:00至6月20日，酷派大神系列智能机促销， 号称让利6000万，推出五项优惠...
							<a href="" class="item-readall">阅读全文</a>
						</p>
					</div>

					<div class="clear"></div>

					<div class="item-bottom">
						<p class="item-time">06-15&nbsp;16:55</p>
						<a href="" class="item-link">直达链接</a>
						<p class="item-click">
							<a href="">赞：100</a>
							&nbsp;|&nbsp;
							<span>浏览：86次</span>
						</p>
					</div>
				</div>

				<div class="item">
					<div class="item-title">
						<p>
							<a href="">
								喃喃细语在云端：OPPO Find 7 拍照体验
								<span></span>
							</a>
						</p>
					</div>
					<a href="" class="item-image">
						<img onload="resizePreviewImage(this);" src="Public/images/item-demo4.jpg" />
					</a>
					<div class="item-content">
						<p>
							<a href="" class="item-from">苏宁易购</a>
							&nbsp; | &nbsp;
							<a href="" class="item-cate">数码家电</a>
						</p>
						<p class="item-description">
							没标点的撸主再一次出现了事实证明没有标点并不会影响您的阅读 若您有头晕 想吐的生理症状 1.请关闭窗口 2.请去特价频道寻找那5只包邮的特价验孕棒吧这两天听到最多的就是“你又辞职了啊？！”好像辞职变成了家常便饭一样 同一家公司辞职两次 估计经理已经再也不想看到...
							<a href="" class="item-readall">阅读全文</a>
						</p>
					</div>

					<div class="clear"></div>

					<div class="item-bottom">
						<p class="item-time">06-15&nbsp;11:28</p>
						<a href="" class="item-link">直达链接</a>
						<p class="item-click">
							<a href="">赞：140</a>
							&nbsp;|&nbsp;
							<span>浏览：223次</span>
						</p>
					</div>
				</div>

				<div class="item">
					<div class="item-title">
						<p>
							<a href="">
								多彩（Delux） K9025U 有线键盘 背光游戏键盘
								<span>69元包邮</span>
							</a>
						</p>
					</div>
					<a href="" class="item-image">
						<img onload="resizePreviewImage(this);" src="Public/images/item-demo5.jpg" />
					</a>
					<div class="item-content">
						<p>
							<a href="" class="item-from">京东商城</a>
							&nbsp; | &nbsp;
							<a href="" class="item-cate">数码家电</a>
						</p>
						<p class="item-description">
							苏宁91元无货，亚马逊127.9元。三档免驱背光调节适应用户不同环境需求，炫酷的LED背光效果，棱角造型的外观设计，手托采用新颖独特...
							<a href="" class="item-readall">阅读全文</a>
						</p>
					</div>

					<div class="clear"></div>

					<div class="item-bottom">
						<p class="item-time">06-15&nbsp;12:34</p>
						<a href="" class="item-link">直达链接</a>
						<p class="item-click">
							<a href="">赞：80</a>
							&nbsp;|&nbsp;
							<span>浏览：23次</span>
						</p>
					</div>
				</div>

			</div>
			<div class="page">
				<ul class="pagination">
					<li>
						<a href="">1</a>
					</li>
					<li>
						<a href="">2</a>
					</li>
					<li>
						<a href="">3</a>
					</li>
					<li>
						<a href="">4</a>
					</li>
					<li>
						<a href="">5</a>
					</li>
					<li>
						<a href="">6</a>
					</li>
					<li>
						<a href="">7</a>
					</li>
					<li>
						<a href="">8</a>
					</li>
					<li>
						<a href="">...</a>
					</li>
					<li>
						<a href="">下一页></a>
					</li>
				</ul>

			</div>

		</div>
		<div class="aside">

			<div class="top10">
				<p class="side-topic">热门商品</p>
				<ul>

					<li>
						<div class="side-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo4.jpg" />
							</a>
						</div>
						<div class="side-content">
							<p>
								<a href="">喃喃细语在云端：OPPO Find 7 拍照体验</a>
							</p>
							<p>20114-06-15 16:55 &nbsp; | &nbsp; 浏览223次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="side-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo3.png" />
							</a>
						</div>
						<div class="side-content">
							<p>
								<a href="">酷派 大神系列智能机 尖叫促销 大神F1每天444元秒杀</a>
							</p>
							<p>20114-06-15 16:55 &nbsp; | &nbsp; 浏览86次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="side-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo2.jpg" />
							</a>
						</div>
						<div class="side-content">
							<p>
								<a href="">森马 纯色优雅韩版短裙 29.9元包邮</a>
							</p>
							<p>20114-06-15 17:14 &nbsp; | &nbsp; 浏览53次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="side-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo.png" />
							</a>
						</div>
						<div class="side-content">
							<p>
								<a href="">Fujifilm 富士 X-M1 16-50mm微单套机 3499元包邮（3699-200）</a>
							</p>
							<p>20114-06-15 19:34 &nbsp; | &nbsp; 浏览23次</p>
						</div>
						<div class="clear"></div>
					</li>

					<li>
						<div class="side-image">
							<a href="">
								<img onload="resizeThumbImage(this);" src="Public/images/item-demo5.jpg" />
							</a>
						</div>
						<div class="side-content">
							<p>
								<a href="">多彩（Delux） K9025U 有线键盘 背光游戏键盘 69元包邮</a>
							</p>
							<p>20114-06-15 12:34 &nbsp; | &nbsp; 浏览23次</p>
						</div>
						<div class="clear"></div>
					</li>

				</ul>

			</div>

			<div class="business">
				<p class="side-topic">热门商家</p>
				<ul>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/dangdangwang.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/guomeizaixian.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/jianyiwang.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/jingdong.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/jumeiyoupin.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/qiaowuqiaoyu.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/shunfengyouxuan.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/suningyigou.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/tianmao.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/weipinhui.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/womaiwang.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yamaxun.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yihaodian.jpg" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yixun.png" alt=""></a>
					</li>
					<li>
						<a href="">
							<img onload="resizeMallImage(this);" src="Public/images/tmall/yougou.png" alt=""></a>
					</li>
				</ul>

			</div>

			<div class="ad">
				<img src="Public/images/ad.jpg" alt="广告" />
			</div>

		</div>
	</div>

	<footer class="footer">Footer</footer>

</body>
</html>